@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}


.clas {
  background-color: #b1ccf022;
}
